.question-correct {
  border: 3px solid rgb(6, 240, 15);
}

.question-incorrect {
  border: 3px solid red;
}

body {
  background-color: #282c34;
  color: white;
  font-family: 'Montserrat', sans-serif;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

button {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #31353e;
}

.icon-header {
  border-radius: 10px;
}