.question-correct {
  border: 3px solid rgb(6, 240, 15);
}

.question-incorrect {
  border: 3px solid red;
}

body {
  background-image: url('./trivia-background.png');
  background-size: cover;
  color: white;
  font-family: 'Pangolin', cursive;
  font-size: 23px;
}

input {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  margin: 5px;
  width: 250px;
}

button {
  padding: 6px 30px;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  margin: 10px;
  font-family: 'Pangolin', cursive;
  cursor: pointer;
  background-color: white;
}

button:disabled {
  opacity: 1;
}

#correct-answer:disabled {
  background-color: green;
  transition: 0.3s;
  opacity: 0.9;
  cursor: default;
}

.question-incorrect:disabled {
  background-color: red;
  opacity: 0.9;
  transition: 0.3s;
  cursor: default;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#input-player-name {
  padding: 8px;
  margin: 10px;
}

#input-gravatar-email {
  padding: 8px;
  margin: 10px;
  margin-bottom: 30px;
}

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.icon-header {
  border-radius: 10px;
}

.timer {
  font-size: 26px;
}

.score {
  font-size: 26px;
}

@import url('https://fonts.googleapis.com/css2?family=Pangolin&display=swap');